/* src/index.css */

@font-face {
  font-family: 'Exo 2';
  src: url('./assets/fonts/Exo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./assets/fonts/Exo2-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Keep the Tailwind directives below the font imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}